body {
    font-family: 'Poppins', sans-serif;
    background-image: url(https://external-preview.redd.it/o4Od0NFrdGEPYzS01inZqOQaC8rQOZWtqoK6G0nugkY.png?auto=webp&s=3ded14c8c1ce9d592ca64db296166d06c949bb63);

    background-position: center;
    height: 100vh;
}   

h1 {
    letter-spacing: .2rem;
}

ul {
    list-style: none;
}

ul li {
    padding: 0 1rem;
    margin-bottom: 1rem;
    border: 2px solid black;
    border-radius: 4px;
}

p {
    padding-top: 1rem;
}

.fa-square-plus {
    color: green;
}

.fa-circle-xmark {
    color: red;
}

.text-done {
    text-decoration: line-through;
}